@import "../../styles/constants.scss";

.CarsList {
    &__controls {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }
    &__search {
        max-width: 420px;
        margin-right: 10px;
    }
    &__add {
        color: $color-base-1;
        font-weight: 700;
        width: 100px;
    }
}